$color-green:#1ebea5;
$color-dark-green:#17927f;

$color-red:#ee5451;
$color-dark-red:#d64b48;

$color-blue: #3a79ee;
$color-dark-blue:#134bad;

$color-light-gray:#f5f5f5;
$color-gray:#e9ecee;
$color-dark-gray:#e2e2e5;
$color-darkest-gray: #999;

$color-white: #fff;

$color-black: #444;
$color-black-blue: #2c3552;

$header_bg: #16254c;

//margins
$margin-small:5px;
$margin-middle:10px;
$margin-large :15px;

//font-sizes
$font-size-small: 12px;
$font-size-medium: 14px;
$font-size-large: 16px;

//avatars
$avatar-small: 25px;
$avatar-medium: 32px;
$avatar-large: 45px;
$avatar-largest: 145px;

//icons
$icon-small: 15px;
$icon-medium: 18px;
$icon-large: 24px;

//fields
$field-small: 30px;
$field-medium: 35px;
$field-large: 90px;

//buttons
$button-small: 28px;
$button-medium: 35px;
$button-large: 45px;

//header
$height-header: 45px;

//border-radius
$border-radius: 4px;

//blocks header color
$color-block-header: #e2e2e5;
$color-header-text: #444;